.all-filter {
    margin: 0 auto;
    margin-top: 40px;
    width: auto;
    max-width: 70%;

    &__block {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        &__item {
            list-style: none;
        }

    }

}