.filter {
    border-radius: 10px;
    position: relative;
    padding: 0px 8px;
    height: 22px;
    background-color: rgba(158, 16, 245, 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #ffffff00;

    &__name {
        font-size: 14px;
        color: rgba(158, 16, 245, 100%);
        line-height: 22px;
    }

    &:hover{
        cursor: pointer;

    }

}

.menu {
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: auto;
    width: auto;
}

.filter__name.menu {
    padding: 0px;
    font-size: 18px;
}