.add__task {
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgb(0, 0, 0, 40%);
    width: 100%;
    height: 100%;
    overflow: hidden;

    &__block {
        background-color: white;
        border-radius: 10px;
        position: fixed;
        width: 700px;
        height: 90vh;
        top: 50%;
        left: 50%;
        overflow: scroll;
        scrollbar-width: none;
        transform: translate(-50%, -50%);

    }
}