@import './colors.scss';
@import './mixins.scss';

.statistic {
    margin-top: 60px;
    // margin-bottom: 35px;
    display: flex;
    height: 100px;

    &__round {
        @include projectImg(80px, 80px, 34px, 60px)
    }

    &__progress {
        margin-left: 16px;

        &__title {
            font-size: 28px;
            margin-bottom: 23px;
        }

        &__block {
            display: flex;
            align-items: center;

            &__view {
                height: 10px;
                width: 380px;
                background-color: #EBEBEB;
                border-radius: 5px;

                &__fill {
                    height: 100%;
                    border-radius: 5px 0px 0px 5px;
                    background-color: #7A51EE;
                }
            }

            &__percent {
                font-size: 18px;
                margin-left: 26px;
            }
        }

    }
}