@import './mixins.scss';

.subtask__item {
    display: flex;
    width: 610px;
    margin-bottom: 40px;
    align-items: center;

    &:last-child {
        margin-bottom: 0px;
    }

    &__done {
        width: 50px;
        height: 23px;

        background: url('../../img/taskComplete.jpg') no-repeat;
        background-size: 100%;
        cursor: pointer;
    }

    &__done {
        width: 26px;
        height: 26px;

        background: url('../../img/done.jpg') no-repeat;
        background-size: 100%;
    }

    &__unmade {
        width: 26px;
        height: 26px;

        background: url('../../img/taskComplete.jpg') no-repeat;
        background-size: 100%;

        &:hover {
            cursor: pointer;
            background: url('../../img/donePreview.jpg')no-repeat;
            background-size: 100%;

        }
    }


    &__delete{
        @include exit(20px);
        position: relative;
    }

    
    &__description {
        width: 610px;
        min-height: 0px;
        max-height: auto;
        font-size: 17px;
        margin-left: 22px;
        margin-right: 22px;
        word-wrap: break-word;
        overflow: auto; 
    }
}