.add__task__block__subtask {
    margin-top: 31px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        font-size: 26px;
        margin: 0 auto;
    }


}