@import './colors.scss';
@import './mixins.scss';

.toolbar__project {
    margin-top: 70px;

    &__title {
        margin-bottom: 17px;
        font-weight: 20px;
    }

    &__search {
        @include input(56px, 214px, 45px, 21px, 26px);
    }
}