@import '../colors.scss';
@import '../mixins.scss';

.toolbar__project {
    margin-top: 70px;
    height: 500px;

    &__title {
        margin-bottom: 17px;
        font-weight: 20px;
    }

    &__search {
        @include input(26px, 250px, 45px, 21px, 26px);
        margin-bottom: 40px;
        font-size: 17px;

        outline: none;
        
        &:focus {
            box-shadow: 0px 0px 4px 1px $clearPurpleColor;
        }

        &:active {
            border-color: $borderColor;
        }

    }

    &__item-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 5px 5px 5px 5px;
    }
}