@import '../mixins/colors.scss';

.task__edit__butoton {
    position: absolute;
    background-color: white;
    width: 120px;
    height: 70px;
    border: 1px solid $borderColor;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

    right: 12px;
    top: -60px;

    &__option {
        margin-top: 10px;
        cursor: pointer;

        &__delete {
            &:hover {
                color: rgba(255, 0, 0, 0.721);
            }
        }
    }


}