@import '../mixins/colors.scss';

@mixin button ($url) {
    position: fixed;
    height: 100%;
    left: 5px;
    top: 5px;
    display: block;
    width: 35px;
    height: 35px;
    border: none;
    background: url($url) no-repeat;
    background-size: cover;
    background-position: center;
}

.toolbar {
    z-index: 999;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 352px;
    grid-area: toolbar;
    border-right: 1px solid $borderColor;
    overflow: auto;
    background-color: white;
    height: 100%;



    &__show {
        position: fixed;
        width: 350px;
        display: flex;
        background-color: white;
        height: 100%;
        transition: width 0.5s ease;
    }

    &__hide {
        width: 0px;
        transition: width 0.5s ease;
    }
}

.showItem {
    transition: width 0.5s ease;
}

.hideItem {
    transition: width 1s ease;
}

.tooggle__modal__show {
    @include button('../../img/left.png')
}

.tooggle__modal__hide {
    @include button('../../img/right.png')
}

