.role {
    // margin-top: 17px;
    border-radius: 10px;
    display: inline-block;
    padding: 0px 8px;
    height: 22px;
    background-color: rgba(158, 16, 245, 25%);

    &__name {
        font-size: 14px;
        color: rgba(158, 16, 245, 100%);;
        line-height: 22px
    }
}