@import './mixins.scss';
@import './colors.scss';

.profile {
    grid-area: profile;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

    &__setting {
        @include background('../../img/profile_setting.jpg', 28px, 28px);
        margin-right: 40px;
    }

    &__profile {
        display: flex;
        align-items: center;

        &__round {
            @include profileImg(48px)
        }

        &__name {
            margin-left: 24px;
            font-size: 20px;
        }
    }

    &__exit {
        @include background('../../img/profile_exit.jpg', 28px, 28px);
        margin-right: 26px;
        margin-left: 69px;
    }

}