@import '../colors.scss';
@import '../mixins.scss';

.add__subtask__container {


    .add__subtask {
        width: 650px;
        height: 400px;
        background-color: white;
        border-radius: 5px;

        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 38px;

            &__title {
                font-size: 20px;
            }

            &__button {
                width: 95px;
                height: 40px;
                background-color: #7A51EE;
                border: none;
                border-radius: 5px;
                color: white;
                font-size: 18px;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.05);
                }
            }
        }

        &__description {
            @include textarea;
            display: block;
            margin-top: 15px;
            width: 576px;
       

            &:focus {
                border: 1px solid $borderColor;
                outline: none;
            }
        }

    }
}