@import '../mixins/colors.scss';
@import '../mixins/mixins.scss';

.main__members__item {
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 150px;
    border: 1px solid $borderColor;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 3px rgb(0, 0, 0, 15%);
    margin-top: 22px;

    &__profile {
        display: flex;
        justify-content: space-between;
        margin-left: 18px;
        margin-top: 20px;

        &__block {
            display: flex;

            &__round {
                @include profileImg(80px);
                background-color: #D9D9D9;
            }

            &__info {
                margin-left: 18px;

                &__name {
                    font-size: 22px;
                }
            }
        }

        &__edit {
            @include edit(0px, 27px, 15px);
            margin-right: 20px;
        }
    }

    &__statisctic {
        display: flex;
        margin-top: 10px;
        margin-left: 116px;

        &__info {
            margin-left: 55px;

            &__solved {
                color: #02B982;
            }

            &__notime {
                color: #F51047;
            }
        }

        &__info:first-child {
            margin-left: 0px;
        }
    }
}